<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>artist</key>
		<string>Iggy &amp; The Stooges</string>
		<key>title</key>
		<string>Raw Power</string>
		<key>year</key>
		<integer>1973</integer>
	</dict>
	<dict>
		<key>artist</key>
		<string>Jawbox</string>
		<key>title</key>
		<string>For Your Own Special Sweetheart</string>
		<key>year</key>
		<integer>1994</integer>
	</dict>
	<dict>
		<key>artist</key>
		<string>LCD Soundsystem</string>
		<key>title</key>
		<string>Sound Of Silver</string>
		<key>year</key>
		<integer>2007</integer>
	</dict>
	<dict>
		<key>artist</key>
		<string>Parquet Courts</string>
		<key>title</key>
		<string>Light Up Gold</string>
		<key>year</key>
		<integer>2013</integer>
	</dict>
	<dict>
		<key>artist</key>
		<string>Hüsker Dü</string>
		<key>title</key>
		<string>New Day Rising</string>
		<key>year</key>
		<real>1985</real>
	</dict>
	<dict>
		<key>artist</key>
		<string>Modest Mouse</string>
		<key>title</key>
		<string>The Lonesome Crowded West</string>
		<key>year</key>
		<integer>1997</integer>
	</dict>
	<dict>
		<key>artist</key>
		<string>Wire</string>
		<key>title</key>
		<string>Pink Flag</string>
		<key>year</key>
		<integer>1977</integer>
	</dict>
	<dict>
		<key>artist</key>
		<string>Sonic Youth</string>
		<key>title</key>
		<string>Daydream Nation</string>
		<key>year</key>
		<integer>1988</integer>
	</dict>
	<dict>
		<key>artist</key>
		<string>TV On The Radio</string>
		<key>title</key>
		<string>Desperate Youth Bloodthirsty Babes</string>
		<key>year</key>
		<real>2004</real>
	</dict>
	<dict>
		<key>artist</key>
		<string>Deerhunter</string>
		<key>title</key>
		<string>Halcyon Digest</string>
		<key>year</key>
		<integer>2010</integer>
	</dict>
	<dict>
		<key>artist</key>
		<string>Radiohead</string>
		<key>title</key>
		<string>Kid A</string>
		<key>year</key>
		<integer>2000</integer>
	</dict>
	<dict>
		<key>artist</key>
		<string>My Bloody Valentine</string>
		<key>title</key>
		<string>Loveless</string>
		<key>year</key>
		<integer>1991</integer>
	</dict>
	<dict>
		<key>artist</key>
		<string>Velvet Underground</string>
		<key>title</key>
		<string>The Velvet Underground</string>
		<key>year</key>
		<real>1969</real>
	</dict>
	<dict>
		<key>artist</key>
		<string>Talking Heads</string>
		<key>title</key>
		<string>Remain In Light</string>
		<key>year</key>
		<integer>1980</integer>
	</dict>
	<dict>
		<key>artist</key>
		<string>St. Vincent</string>
		<key>title</key>
		<string>Strange Mercy</string>
		<key>year</key>
		<integer>2011</integer>
	</dict>
</array>
</plist>
